/*Select row*/
.bg-info-opacity-15 {
    background-color: rgba(91, 192, 222, 0.15);
}

/*Editing row*/
.bg-warning-opacity-25 {
    background-color: rgba(255, 193, 7, 0.25) !important;
}

/*Modal window nesting*/
.modal-backdrop ~ .modal-backdrop {
    z-index: 1051;
}

    .modal-backdrop ~ .modal-backdrop ~ .modal-backdrop {
        z-index: 1052;
    }

        .modal-backdrop ~ .modal-backdrop ~ .modal-backdrop ~ .modal-backdrop {
            z-index: 1053;
        }

/*Info modal*/
dl {
    width: 100%;
    overflow: hidden;
}

dt {
    float: left;
    width: 50%;
}

    dt::after {
        content: ":";
    }

dd {
    float: left;
    width: 50%;
    margin: 0;
    border-bottom: 1px;
}

/*Button for work checkbox toggle*/
.button-checkbox-toggle {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

/*Operation modes show button*/
.operation-modes-row {
    display: none;
}

.operation-modes-btn {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

    .operation-modes-btn.down {
        -ms-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

/*Air emissions show button*/
.emissions-row {
    display: none;
}

.emissions-btn {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

    .emissions-btn.down {
        -ms-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }