@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using SmartEco.Akimato.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = Localizer["Home"];
}
<div class="text-center">
    <div class="image">
    </div>
</div>
