@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="row text-center">
    <div class="col-md-12">
        <h1 class="text-danger d-inline-block">Error </h1>
        @if (Model.StatusCode is not null)
        {
            <h1 class="text-danger d-inline-block">@Model.StatusCode</h1>
        }
        @if (Model.Message is not null)
        {
            <h2 class="text-danger">@Model.Message</h2>
        }
        <h3 class="text-danger">An error occurred while processing your request.</h3>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
    </div>
</div>