/*Operation modes show button*/
.diagnostic-info-row {
    display: none;
}

.diagnostic-info-btn {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

    .diagnostic-info-btn.down {
        -ms-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
