@model SmartEco.Models.ASM.PollutionSources.AirPollutionSourceListViewModel
@using System.Net
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@using SmartEco.Models.ASM.Filsters;
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    string Role = Context.Session.GetString("Role");
    string controller = "AirPollutionSources";
}

<div id="AirPollutionSourcesTab">
    @await Html.PartialAsync("~/Views/AirPollutionSources/_Pager.cshtml", Model.Pager)

    @await Html.PartialAsync("~/Views/AirPollutionSources/_AirPollutionSourcesTable.cshtml", Model)

    @await Html.PartialAsync("~/Views/AirPollutionSources/_Pager.cshtml", Model.Pager)
</div>