@using System.Net
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["KaragandaRegion"];
}
@{
    string Role = Context.Session.GetString("Role");
}
@if (Role == "admin" || Role == "moderator" || Role == "KaragandaRegion")
{
    <link href="~/lib/openlayers/ol.css" rel="stylesheet" />
    <script src="~/lib/openlayers/ol.js"></script>

    <style>
        /*.map {
            height: calc(100vh - 159px);
        }*/
    </style>
    <style>
        .ol-custom-overviewmap,
        .ol-custom-overviewmap.ol-uncollapsible {
            bottom: auto;
            left: auto;
            right: 0.5em;
            top: 2.5em;
        }

            .ol-custom-overviewmap:not(.ol-collapsed) {
                border: 1px solid black;
            }

            .ol-custom-overviewmap .ol-overviewmap-map {
                border: none;
                width: 300px;
            }

            .ol-custom-overviewmap .ol-overviewmap-box {
                border: 2px solid red;
            }

            .ol-custom-overviewmap:not(.ol-collapsed) button {
                bottom: auto;
                left: auto;
                right: 1px;
                top: 1px;
            }

        /*.ol-rotate {
              top: 170px;
              right: 0;
          }*/

        .fullscreen:-moz-full-screen {
            /*height: 100%;*/
            height: calc(100vh - 159px);
        }

        .fullscreen:-webkit-full-screen {
            /*height: 100%;*/
            height: calc(100vh - 159px);
        }

        .fullscreen:-ms-fullscreen {
            /*height: 100%;*/
            height: calc(100vh - 159px);
        }

        .fullscreen:fullscreen {
            /*height: 100%;*/
            height: calc(100vh - 159px);
        }

        .fullscreen {
            margin-bottom: 10px;
            width: 100%;
            /*height: 400px;*/
            height: calc(100vh - 159px);
        }

        /*.ol-rotate {
          top: 3em;
        }*/

        .map {
            width: 80%;
            height: 100%;
            float: left;
        }

        .sidepanel {
            background: #1F6B75;
            width: 20%;
            height: 100%;
            /*height: calc(100vh - 159px);*/
            float: left;
        }

        .sidepanel-title {
            width: 100%;
            /*font-size: 3em;*/
            /*color: #ffffff;*/
            display: block;
            /*text-align: center;*/
        }
    </style>

    @*<div id="map" class="map"></div>*@
    <div id="fullscreen" class="fullscreen">
        <div id="map" class="map"></div>
        <div class="sidepanel">
            <span class="sidepanel-title">Side Panel</span>
            <select id="layerBaseType" class="form-control form-control-sm" onchange="ChangeLayers()">
                <option value="OSM">OpenStreetMap</option>
                <option value="BingAerialWithLabels">Bing Aerial</option>
            </select>
        </div>
    </div>

    <script>
        var layers = [];

        var Source_OSM = new ol.source.OSM(),
            Source_BingAerialWithLabels = new ol.source.BingMaps({
                key: 'AvXWBeyEt0tMq0Cmi-TdlXA6qG2GDpuV1UcSbSqNXbfHcQ41GFYtjpu0gz8RS6-b',
                imagerySet: 'AerialWithLabels',
            });
        layers.push(new ol.layer.Tile({
            source: Source_OSM
        }));
        layers[0].set('name', 'Base');

        var overviewMapControl = new ol.control.OverviewMap({
            className: 'ol-overviewmap ol-custom-overviewmap',
            layers: [
                new ol.layer.Tile({
                    source: Source_OSM
                })
            ],
            collapseLabel: '\u00BB',
            label: '\u00AB',
            collapsed: false
        });

        var map = new ol.Map({
            controls: new ol.control.defaults({ attributionOptions: { collapsible: true } }).extend([
                new ol.control.ScaleLine(),
                overviewMapControl,
                new ol.control.FullScreen({
                    source: 'fullscreen'
                })
            ]),
            //controls: ol.control.defaults({ attributionOptions: { collapsible: true } }),
            target: 'map',
            layers: layers,
            view: new ol.View({
                center: ol.proj.fromLonLat([70.98, 48.70]),
                zoom: 7
            })
        });

        function ChangeLayers() {
            map.getLayers().forEach(function (layer) {
                if (layer.get('name') == 'Base') {
                    if ($('#layerBaseType').val() == 'OSM') {
                        layer.setSource(Source_OSM);
                        nameSource = "Source_OSM";
                    }
                    else if ($('#layerBaseType').val() == 'BingAerialWithLabels') {
                        layer.setSource(Source_BingAerialWithLabels);
                        nameSource = "Source_BingAerialWithLabels";
                    }
                }
            })
        }
    </script>
}
