/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --border-bg: #dee2e6;
    --navbar-color: rgba(0,0,0,.9);
}

[data-theme="dark"] {
    --bs-body-bg: #121212;
    --border-bg: #3b3c3e;
    --bs-white-rgb: #121212;
    --bs-body-color: #eef3f9; /*text*/
    --bs-dark-rgb: #eef3f9; /*text*/
    --bs-text-opacity: 1;
    --navbar-color: #eef3f9; /*text*/
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


/* pagination
-------------------------------------------------- */
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination > li {
        display: inline;
    }

        .pagination > li > a,
        .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .pagination > li:first-child > a,
        .pagination > li:first-child > span {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .pagination > li:last-child > a,
        .pagination > li:last-child > span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .pagination > li > a:hover,
        .pagination > li > span:hover,
        .pagination > li > a:focus,
        .pagination > li > span:focus {
            z-index: 2;
            color: #23527c;
            background-color: #eee;
            border-color: #ddd;
        }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }

    .pagination > .disabled > span,
    .pagination > .disabled > span:hover,
    .pagination > .disabled > span:focus,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
    }

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* custom style
-------------------------------------------------- */

.footer {
    padding-right: 10px;
}

.nav-link {
    border-width: 0px;
}

.text-center {
    height: 79.6vh;
}

.image {
    height: 100%;
    width: 100%;
    background: url(/images/SmartEcoLogo2.png) no-repeat;
    background-position: center center;
    position: relative;
    background-size: contain;
}

.footer {
    height: 70px;
    padding-left: 10px;
}

.map {
    width: 60%;
    height: 100%;
    float: left;
}

:-webkit-full-screen::backdrop {
    background-color: #fff;
}

.sidepanel {
    background: rgba(0, 0, 0, .05);
    width: 20%;
    height: 100%;
    /*height: calc(100vh - 159px);*/
    float: left;
    padding: 10px;
    overflow-y: auto;
}

.sidepanel-title {
    width: 100%;
    /*font-size: 3em;*/
    /*color: #ffffff;*/
    display: block;
    /*text-align: center;*/
}

.sidepanel hr {
    margin: 0;
}

.sidepanel input[type='checkbox'] {
    margin-right: 5px;
}

.sidepanel input[type='range'] {
    width: 100%;
}

.sidepanelRight-hide {
    top: 4.5em;
    right: .5em;
}

.sidepanelLeft-hide {
    top: 4.5em;
    left: .5em;
}

.info-input {
    max-width: 150px;
    display: inline;
}

.info-input-select {
    max-width: 623px;
}

.dialog-info-content {
    width: 100%;
    height: 100%;
}

.dialog-info-tab-div {
    width: 100%;
    height: calc(100% - 44px);
    overflow:auto;
}

.dialog-info-table {
    width: 100%;
    height: 100%;
}

.dialog-info-tab-table {
    width: 100%;
    height: calc(100% - 104px);
    margin-top: 10px;
}

.btn-link-post{
    padding: 0px;
}

.table-analytics {
    text-align: right;
}

.analystScrollCheck {
    overflow: auto;
    height: 120px;
}

.btn-text-wrap {
    white-space: normal !important;
    word-wrap: break-word;
}

.btn-sort:hover {
    color: #000;
    background-color: #e7f0fd;
}

.btn-sort:active {
    background-color: #bed7fb;
}

/*Toggle swither for dark mode*/

#darkModeContainer {
    display: inline-block;
    float: right;
    margin-right: 1%;
}

#switcherDarkMode {
    opacity: 0;
    position: absolute;
}

#labelDarkMode {
    width: 50px;
    /*height: 26px;*/
    /*background-color: #111;*/
    border: 1px solid var(--border-bg);
    /*display: flex;*/
    border-radius: 50px;
    /*align-items: center;*/
    justify-content: space-between;
    padding: 5px;
    /*position: relative;*/
    transform: scale(1.2);
    display: inline-flex;
    /*flex-wrap: wrap;*/
    cursor: pointer;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: var(--border-bg);
    position: absolute;
    top: 3px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
#switcherDarkMode:checked + #labelDarkMode .ball {
    transform: translateX(24px);
}

/*Dark mode*/
.border-top, .border-bottom {
    border-color: var(--border-bg) !important;
}

.form-select {
    background-color: var(--bs-body-bg);
    border-color: var(--border-bg);
    color: var(--bs-dark-rgb);
}

nav {
    background-color: var(--bs-body-bg) !important;
}

.navbar-light .navbar-brand, .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: var(--navbar-color);
}