@model MultiSelectList
@using SmartEco.Models.ASM.PollutionSources

<label for="AirPollutantsSelectList" class="control-label">Список веществ</label>
<select asp-items="Model" id="AirPollutantsSelectList" class="form-control" multiple></select>